.title {
    font-size: 1.5em;
    margin-bottom: 1%;
}

.carouselContainer {
    width: 85%;
    margin: 1% auto;
    padding: 1% 0;
    /* border: solid red 1px; */
}

.caroContainer {
    display: flex;
    margin: 1.1% 0 4% 0;
}

.coverContainer {
    margin-right: 10px;
    width: 250px;
    height: fit-content;
    /* border: solid red 1px; */
}

.cover:hover {
    position: relative;
     top: 2px;
    transform: scale(1.01);
    cursor: pointer;
    border: solid #396EF7 1px;
    box-shadow: 0 0 1px 1px #396EF7;
}

.cover {
    width: 250px;
    object-fit: cover;
    border-radius: 4px;
    height: 150px;
    box-shadow: 4px 4px 2px #000000;
    border: solid rgb(71, 71, 71) 1px;
}

.gameTitle {
    margin-top: 1%;
    text-shadow: 1px 1px black;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.oneLine {
    border: solid transparent 1px;
    display: flex;
}

.bookmark {
    margin-left: auto;
    color: gray;
}

.bookmarkFilled {
    margin-left: auto;
    color: #396EF7;
}