.landingPageContainer {
    color: white;
    min-height: 80vh;
    height: fit-content;
    position: relative;
    padding-bottom: 10%;
    z-index: 10;
}

.fGradient {
    background-image: linear-gradient(90deg, rgba(15, 15, 15, 1) 27%, rgba(255, 255, 255, 0) 80%);
    height: 60vh;
    width: 100%;
}

.featuredContainer {
    height: 100%;
    -webkit-animation: fadein 10s infinite normal ease-in-out;
    animation: fadein 10s infinite normal ease-in-out;
    animation-delay: -1ms;
    margin-bottom: 5%;
    /* border: solid red 1px; */
    display: flex;
    align-items: center;
}

@-webkit-keyframes fadein {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 1;
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 1;
    }
}

.fBackContainer {
    display: flex;
    flex-direction: row;
    /* border: solid red 1px; */
    height: 100%;
    flex-wrap: wrap-reverse;
    align-items: center;
    position: relative;
    width: 100%;
}

.fBlank {
    display: flex;
    flex-direction: column;
    flex-basis: 25%;
    /* border: solid red 1px; */
}

.fMainIMG {
    display: flex;
    flex-direction: column;
    flex-basis: 75%;
    margin-left: auto;
    height: 100%;
    /* border: solid red 1px; */
}

.mainIMG {
    object-fit: cover;
    z-index: -1;
    width: 100%;
    height: 100%;
    filter: contrast(1.1);
    /* border: solid red 1px; */
}

.fGameInfo {
    position: absolute;
    line-height: 2.2;
    width: 40%;
    max-height: 60vh;
    /* border: solid red 1px; */
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    margin-left: 10%;
    max-width: 500px;
    -webkit-animation: 10s 
    /* infinite  */
    normal ease-out;
    animation:  10s 
    /* infinite  */
    normal ease-out;
    animation-delay: 0;
    overflow-y: hidden;
    padding: 1%;
    /* margin-top: 5%; */
}

@-webkit-keyframes moveup {
    0% {
        top: 25px;
    }

    20% {
        top: 0px;
    }

    100%{
        top: 0px;
    }
}

@keyframes moveup {
    0% {
        top: 25px;
    }

    20% {
        top: 0px;
    }

    100%{
        top: 0px;
    }
}

.gameLogo {
    width: 50%;
    height: fit-content;
}

.titleIMG {
    object-fit: contain;
    height: 100%;
    width: 100%;
    min-width: 250px;
    max-width: 500px;
}

.hook {
    font-size: 2em;
    text-shadow: 1px 1px black;
}

.summary {
    line-height: 1.5;
    text-shadow: 1px 1px black;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.readMore {
    margin-top: 5%;
}

.readMoreBtn {
    border: transparent;
    color: white;
    background-color: #396EF7;
    padding: 2%;
    border-radius: 3px;
    max-width: fit-content;
    max-height: fit-content;
}

.readMoreBtn:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.gameCarouselContainer{
    overflow-x: hidden;
}

@media only screen and (max-width: 700px) {

    .featuredContainer {
        display: flex;
        flex-wrap: wrap-reverse;
    }

    .fGradient {
        background-image: linear-gradient(0deg, rgba(15, 15, 15, 1) 5%, rgba(255, 255, 255, 0) 30%);
        height: 50vh;
    }

    .mainIMG {
        filter: contrast(1);
        filter: brightness(.8);
    }

    .fBlank {
        display: none;
        flex-direction: column;
        flex-basis: 0%;

    }

    .fMainIMG {
        display: flex;
        flex-direction: row;
        flex-basis: 100%;
        height: 100%;
        width: 100%;
        height: 50vh;
    }

    .fGameInfo {
        position: relative;
        line-height: 2;
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        margin-left: 0;
        margin: -10% auto;
        padding: 1% 5%;
        text-align: center;

    }

    .gameLogo {
        width: 50%;
        margin: 0 auto;
        height: fit-content;
    }

    .titleIMG {
        object-fit: contain;
        height: 100%;
        width: 100%;
        min-width: 100px;
        max-width: 200px;
    }

    .hook {
        font-size: 2em;
        text-shadow: 1px 1px black;
    }

    .summary {
        line-height: 1.5;
        text-shadow: 1px 1px black;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .readMore {
        margin-top: 5%;
    }

    .readMoreBtn {
        border: transparent;
        color: white;
        background-color: #396EF7;
        padding: 2%;
        border-radius: 3px;
        max-width: fit-content;
        max-height: fit-content;
    }
}

@media only screen and (max-width: 450px) {

    .featuredContainer {
        -webkit-animation: none;
        animation: none;
    }

    .fGradient {
        background-image: linear-gradient(0deg, rgba(15, 15, 15, 1) 5%, rgba(255, 255, 255, 0) 30%);
        height: 45vh;
    }

    .fMainIMG {
        height: 45vh;
    }

    .fGameInfo {
        width: 90%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-self: center;
        justify-content: center;
        margin: -10% auto;
        overflow-y: hidden;
        padding: 1% 3%;
        animation: none;
    }

    .gameLogo {
        width: 50%;
        margin: 0 auto;
        height: fit-content;
    }

    .titleIMG {
        object-fit: contain;
        height: 100%;
        width: 100%;
        min-width: 100px;
        max-width: 200px;
    }

    .hook {
        font-size: 1.5em;
        text-shadow: 1px 1px black;
    }

    .summary {
        line-height: 1.5;
        text-shadow: 1px 1px black;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        font-size: .9em;
    }

    .readMore {
        margin-top: 5%;
    }

    .readMoreBtn {
        border: transparent;
        color: white;
        background-color: #396EF7;
        padding: 2%;
        border-radius: 3px;
        max-width: fit-content;
        max-height: fit-content;
    }
}